<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Salut <%= @user.full_name %> </h1>
    <p>Cet email a seulement pout objectif de vous confirmer la supression de votre compte et de vous informer
    que vous pouvez toujours utiliser nos services ! 
    </p>
    
    
    <p> À très vite sur openair.fr !
  </body>
</html>