  
      Salut <%= @user.full_name %> 
===================================================================================
    Cet email a seulement pout objectif de vous confirmer la supression de votre compte et de vous informer
    que vous pouvez toujours utiliser nos services ! 
    
    
    
     À très vite sur monsite.fr !
  </body>
</html>