<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Bonjour <%= @user.full_name %> </h1>
    
    <p>
    Cet e-mail confirme que vous avez suprimé votre compte OpenAir.
   
    Si vous avez reçu cet e-mail par erreur, merci de l'ignorer.
    </p>
    
    
    <p> À très vite sur openair.fr !</p>
  </body>
</html>