<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.full_name %> </h1>
    <p>
      Vous avez modifié vos paramètres personnels, 
      Pour accéder à votre espace personnel, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur openair.fr !
  </body>
</html>