<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.full_name %> et bienvenue dans la communauté OpenAir</h1>
    <p>
      Vous vous êtes inscrit sur Openair.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace personnel, connectez-vous via : <%= @url %>.
    </p>
    <p> À très vite sur openair.fr !
  </body>
</html>