<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.full_name %> et bienvenue dans la communauté OpenAir</h1>
    <p>
      Votre compte OpenAir a bien été créé. 
      Merci de votre inscription et bienvenue parmi nous.
    </p>
    <p>
      Votre nom : <%@user.last_name%>
      Votre prènom: <%@user.first_name%>
      Votre email : <%@user.email%>
    </p>
    <p> À très vite sur openair.fr !</p>
  </body>
</html>