<section class="slice--offset-top parallax-section parallax-section-lg" style="background-image: url(<%= asset_path('air-quality-banner/banner-topic-index.jpg')%>);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row py-5">
                    <div class="col-lg-8 col-md-8">
                        <h1 class="heading heading-inverse heading-1 strong-400 text-normal">
                            Navbar Transparent: Light
                        </h1>

                        <span class="clearfix"></span>

                        <div class="lead c-gray-lighter mt-3 mb-3">
                            Start building fast, beautiful and modern looking websites in no time using our theme.
                        </div>

                        <span class="short-delimiter--style-1 mb-4"></span>

                        <div class="btn-container">
                            <a href="elements.html" class="btn btn-styled btn-base-1">All elements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>