<!-- Card storie -->
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <section class="slice sct-color-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h3 class="heading heading-6 strong-600 text-uppercase mb-0">Sujets</h3>
                    </div>
                </div>

                <span class="space-xs-lg"></span>
                <div class="cols-md-space cols-sm-space cols-xs-space d-flex flex-wrap">
                <% @topics.each do |topic| %>
                        <div class="col-lg-4 mb-5">
                            <div class="card z-depth-2-top h-auto">
                                <div class="card-image">
                                    <div class="view view-first">
                                        <a href="/topics/<%=topic.id%>">
                                            <%= image_tag topic.main_picture.variant(resize: "1000x760!") %>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body h-25">
                                    <h3 class="heading heading-5 strong-600 mb-0">
                                        <a href="/topics/<%=topic.id%>"><%=topic.title%></a>
                                    </h3>
                                </div>
                            </div>
                        </div> 
                <% end %>
                </div> 
            </div>
        </section>
    </body>
</html>
