

                <div class="product-short-text mt-4">
                    <h3 class="heading heading-xs strong-500 text-uppercase">
                    Description:
                    </h3>
                    <p>
                        Photo de chat n°<%= @topics.title %>. Pellentesque habitant morbi tristique senectus et netus
                            malesuada fames turpis egestas. Vestibulum tortor quam feugiat vitae ultricies eget tempor.
                    </p>
                </div>