<nav class="menu">
  <input checked="checked" class="menu-toggler" id="menu-toggler" type="checkbox"></input>
  <label for="menu-toggler"></label>
  <ul>
    <li class="menu-item">
      <a href="https://www.facebook.com/" target="_blank"><small>DRIVERS</small></a>
    </li>
    <li class="menu-item">
      <a href="https://www.google.com/" target="_blank"><small>PRESSURE</small></a>
    </li>
    <li class="menu-item">
      <a href="https://dribbble.com/" target="_blank"><small>IMPACT</small></a>
    </li>
    <li class="menu-item">
      <a href="https://codepen.io/" target="_blank"><small>STATE</small></a>
    </li>
    <li class="menu-item">
      <a href="https://codepen.io/" target="_blank"><small>RESPONSE</small></a>
    </li>
  </ul>
</nav>

