<nav class="menu">
  <input checked="checked" class="menu-toggler" id="menu-toggler" type="checkbox"></input>
  <label for="menu-toggler"></label>
  <ul>
    <li class="menu-item">
      <a class="text-center" href="https://www.facebook.com/" target="_blank"><small>DRIVERS</small></a>
    </li>
    <li class="menu-item">
      <a href="https://www.google.com/" target="_blank">PRESSURE</a>
    </li>
    <li class="menu-item">
      <a href="https://dribbble.com/" target="_blank">IMPACT</a>
    </li>
    <li class="menu-item">
      <a href="https://codepen.io/" target="_blank">STATE</a>
    </li>
    <li class="menu-item">
      <a target="_blank">RESPONSE</a>
    </li>
  </ul>
</nav>

