<div class="mx-auto my-5">
		<p class="text-center"> Votre librairie permet de garder en mémoire les bases de données qui vous intéressent. Elle est vide pour l'instant.  Vous pouvez ajouter une base de données depuis la page d'un article, en cliquant sur le symbole <i class="fa fa-star"></i> affiché dans le coin en haut à droite de son encart. Tous les articles sont accessibles depuis <%= link_to "la page d'accueil", root_path %>.</p>
</div>
 