<div class="mx-auto my-5">
	<h1 class="text-center">Bienvenue dans votre librairie</h1>
		<p class="text-center">Cette page regroupe les données que vous aurez sélectionné depuis la page d'un article. Vous n'avez pour l'instant encore aucun jeu de données enregistré. Vous pouvez le faire depuis la page d'un article, accessible depuis <%= link_to "la page d'accueil", root_path %>, en cliquand sur le symbole <i class="fa fa-star"></i> affiché sur un jeu de données.</p>
</div>
