
				<table class="table table-sm table-hover">
					<thead>
						<tr>
							<th>Titre</th>
							<th>Source</th>
							<th>Supprimer</th>
						</tr>
					</thead>


					<tbody>
						<% @datasets.each do |dataset| %>
						<tr>
							<td>
								<%= dataset.title %>
							</td>
							<td>
								<span class="badge badge--2 mr-4">
								<i class="bg-blue"></i><%= link_to "Lien vers la base de données", dataset.db_link, class: "text-dark" %>
								</span>
							</td>
							<td>
<%= link_to 'Destroy', user_dataset_collection_path(dataset: dataset), method: :delete, :remote => true, :class => 'delete_data_set' %>
							</td>
							</tr>
						<% end %>
					</tbody>
				</table>
<%= link_to 'Destroy', user_dataset_collection_path, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_data_set' %>