<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @test_boomerang.index %>
</p>

<%= link_to 'Edit', edit_test_boomerang_path(@test_boomerang) %> |
<%= link_to 'Back', test_boomerangs_path %>
