<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez oublié le mot de passe de votre compte Open Air ?</p>
<p>Il vous suffit de cliquer sur le lien ci-dessous pour en choisir un nouveau : 

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ne pas tenir compte de cet email.</p><br>
<p>Merci de votre confiance et à très bientôt.</p>

