<div  id="message" class="toast" style="position: absolute; top: 1%; right: 2%;">

  <% if notice %>
  <br>
  <div  id="inner-message-success" class="alert alert-success-alt" role="alert">
    <span class="glyphicon fa fa-link"></span>
    <%= notice %>
  </div>
  <% end %>
  <% if alert %>
  <br>
  <div  id="inner-message-danger" class="alert alert-danger-alt" role="alert">
    <span class="glyphicon fa fa-exclamation-triangle "></span>
    <%= alert %>
  </div>
  <% end %>


</div>
