<div  id="message" class="toast" style="position: absolute; top: 0; right: 1%;">

  <% if notice %>
  <br>
  <div  id="inner-message-success" class="alert alert-success" role="alert">
    <%= notice %>
  </div>
  <% end %>
  <% if alert %>
  <br>
  <div  id="inner-message-danger" class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
  <% end %>


</div>
