<footer id="footer" class="footer footer-inverse">
    <div class="footer-bottom py-4">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-lg-3 col-12">
                    <div class="">
                        <div class="copyright">
                            <ul class="copy-links no-margin">
                                <li>
                                    © 2019 Open Air
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="text-center">
                        <ul class="footer-menu footer-menu-sm">
                            <% unless (controller_name == "topics" && action_name == "index") %>
                            <li>
                                <%= link_to "Accueil", root_path, style: "padding-left: 0;" %>
                            </li>
                            <% end %>
                            <li>
                                <%# <%= link_to "À propos",  %> %>
                            </li>
                            <li>
                                <a href="mailto:openair@alabintheair.cc">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="text-xs-center text-sm-right">
                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://www.facebook.com/A-LAB-in-the-AIR-1683991011853827/" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/a-lab-is-in-the-air/about/" class="linkedin" target="_blank" data-toggle="tooltip" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/lab_in_the_air?lang=en" class="twitter" target="_blank" data-toggle="tooltip" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
