<footer id="footer" class="footer">
                          <div class="footer-top">
                              <div class="container">
                                  <div class="row cols-xs-space cols-sm-space cols-md-space">
                                      <div class="col-lg-5">
                                          <div class="col">
                                              <%= image_tag "logo/logo-1-c.png" %>
                                              <span class="clearfix"></span>
                                              <span class="heading heading-sm c-gray-light strong-400">Comprendre la qualité de l'Air dans la Région Sud grâce à l'Open Data</span>
                                              <div class="copyright mt-4">
                                                  



                                                  <p>
                                                      Copyright &copy; 2019                                <a href="https://webpixels.io" target="_blank">
                                                          <strong>Open Air</strong>
                                                      </a> -
                                                      All rights reserved
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-2">
                                          <div class="col">
                                            <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                                                Support
                                            </h4>
                                            <ul class="footer-links">
                                                  <li><a href="#" title="Help center">Help center</a></li>
                                                  <li><a href="#" title="Discussions">Discussions</a></li>
                                                  <li><a href="#" title="Contact support">Contact</a></li>
                                                  <li><a href="#" title="Blog">Blog</a></li>
                                                  <li><a href="#" title="Jobs">FAQ</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </footer>
