<section class="slice--offset-top parallax-section parallax-section-lg" style="background-image: url(<%= asset_path('air-quality-banner/banner-topic-index.jpg')%>);">
    <span class="mask bg-base-3 alpha-3"></span>

</section>